apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: devops
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'spring-boot-app'
        metrics_path: '/student/actuator/prometheus'
        static_configs:
          - targets: ['spring-service:8089']
      - job_name: 'node-exporter'
        static_configs:
          - targets: ['node-exporter:9100']
